﻿@model IEnumerable<StudentApplication.Models.Student>
@{
    ViewBag.Title = "Home Page";
}

<h2>Student List</h2>

<table class="table table-hover">
    <caption>List of students</caption>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Email:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", new {id = item.ID})</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>