body {
	font-family: calibri,sans-serif;
	font-size: 12pt;
	background: #fcfcfc;
	margin: 8px 0;
}

#container {
	width: 1200px;
	margin: 0 auto;
	/*border: 2px dashed #ccc;*/
}

#logo {
	float: right;
	position: relative;
	height: 52px;
}

#header {
	position: absolute;
	right: 0;
	left: 0;
	top: 70px;
	background: #ededed;
	border-top: 4px solid #dbdbdb;
	border-bottom: 4px solid #dbdbdb;
	height: 120px;
	min-width: 1200px;
}

h1 {
	position: relative;
	float: left;
	width: 100%;
	display: inline;
	line-height: 120px;
	z-index: 999;
	margin-top: 10px;
	margin-bottom: 70px;
	font-size: 18pt;
}

#navigation {
	list-style-type: none;
	padding-left: 0;
	float: left;
	width: 280px;
	margin-top: 0;
}

#navigation li {
	width: 100%;
	float: left;
}

#navigation li:hover {
	list-style-image: url("img/check-mark.png");
	list-style-position: inside;
}

#navigation a {
	display: block;
	display: -moz-inline-box; /* Without this the check marks appear above the text in firefox */
	color: #474747;
	text-decoration: none;
	padding: 5px 0;
	width: 100%;
}

#navigation a:hover {
	color: #c22323;
	font-weight: bold;
}

#main {
	width: 910px;
	display: inline-block;
	float: right;
	color: #818181;
}

h2 {
	color: black;
	margin-top: 0;
}

#main .text {
	margin-bottom: 30px;
}

#main table {
	border: 1px solid #dbdbdb;
	border-bottom: 2px solid #dbdbdb;
	border-collapse: collapse;
	width: 100%;
}

#main table thead {
	text-align: left;
	color: black;
	font-weight: bold;
}

#main th, td {
	padding: 20px;
	border-bottom: 1px solid #dbdbdb;
}

#main table .profile {
	height: 35px;
}

#main table .photo {
	padding: 10px 20px;
}

#main table a {
	font-weight: bold;
	text-decoration: none;
	color: #eb1c2a;
}

#footer {
	float: left;
	clear: right;
	width: 100%;
	color: #808080;
	margin-top: 90px;
}

#footer ul {
	list-style-type: none;
	padding-left: 0;
}

#footer li {
	display: inline;
	margin-right: 25px;
}

#footer a {
	color: #c92222;
	text-decoration: none;
}

#line {
	border: 0;
	float: left;
	width: 100%;
	clear: both;
	height: 4px;
	background: #ededed;
	margin-top: -70px;
	min-width: 1200px;
}

form {
	margin: 25px 0;
	font-size: 10pt;
}


input {
	font-size: 10pt;
	background: transparent;
	color: #818181;
	border: 1px solid #cccccc ;
	height: 18px;
	padding: 5px 15px;
	width: 160px;
}

select {
	font-size: 10pt;
	padding: 6px 15px;
	padding-right: 5px;
	color: #818181;
	background: transparent;
	border: 1px solid #cccccc;
	width: 200px;
	cursor: pointer;
}

button {
	font-size: 10pt;
	background: #858585;
	color: white;
	border: 1px solid #ededed;
	height: 30px;
	padding: 5px 10px;
}