body {
	margin: 0 15px 140px 15px;
	font-family: calibri, sans-serif;
}
h1 {
	margin-top: 0;
	width: auto;
	background: #0e4e78;
	color: white;
	padding: 30px 40px;
}
h2 {
	border-top: 2px solid #0e4e78;
	padding-top: 20px;
}
ol {
	list-style-type: lower-alpha;
}
dt {
	font-style: italic;
}
table {
	width: 500px;
	border-top: 1px solid #cccccc;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
tr:nth-child(even) td {
	background: #e1eaf0;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
}
thead {
	background: linear-gradient(#11507a,#a1bac9);
}
th {
	padding: 3px 0;
	color: #ffffff;
	text-align: left;
}